.card img {
  width: 100%;
  height: 26vw;
  object-fit: cover;
}
@media (max-width: 768px) {
  .card img {
    height: 100%;
  }
}

.img-container {
  position: relative;
  /* width: 100%; */
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%; 
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  align-self: center;
  width: fit-content;
  text-align: center;
}
.img-container:hover .image {
  opacity: 0.3;
}

.img-container:hover .middle {
  opacity: 1;
}

.rating {
  align-self: flex-end;
  padding-right: 1rem;
  padding-top: 0.5rem;
}

#buttons-wrap {
  align-self: flex-end;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.edit-button {
  padding-right: .7rem;
}